#intro {
  height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

.bg {
  flex: 1;
  height: 100%;
  object-fit: cover;
}

.introContent {
  flex: 1;
  padding: 2rem;
  font-size: 1.5rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introText {
  font-size: 3rem;
  font-weight: 700;
}

.introName {
  color: #FFD700; /* Gold color */
}

.introPara {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin-top: 1rem;
}

.btn {
  background-color: #fcfaf0; /* Gold color */
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn img {
  height: 1rem;
  object-fit: cover;
  margin: 0 0.25rem;
}

.btn:hover {
  background-color: #FFC107; /* Amber color */
}

@media screen and (max-width: 840px) {
  #intro {
    flex-direction: column;
    text-align: center;
  }

  .bg {
    width: 100%;
    height: 50vh;
  }

  .introContent {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .introContent {
    font-size: 0.875rem;
  }
}
